<div class="player-wrapper">

  <div id="youtube-player-div"></div>

  <div classs="overlay" *ngIf="isWaiting">
    <div class="waiting-content">
      <div class="spinner"></div>
      <h2>Aguardando músicas na fila...</h2>
      <p>Adicione uma música pelo seu celular!</p>
    </div>
  </div>

  <div class="overlay now-playing" *ngIf="videoAtual">
  <div class="now-playing-content" [class.hidden]="!showSongInfo">
    <p>Tocando:</p>
    <h2 [innerHTML]="videoAtual.titulo || 'Carregando Título...'"></h2>
    <h2>Pedido por: {{ videoAtual.nomeUsuario || 'Alguém' }}</h2>
  </div>
</div>

</div>